dist
app
node_modules
typings/*
images/*
npm-debug.log
package-lock.json
.settings/*
.git/*
bower_components/*
.DS_Store
.idea
.env
*.db
*.sh
*.old
*.bak
*.test
*.tmp
*.sql
FOXUSER*.*
null
/docker-compose.yml